#card {
  background-color: #007bff;
  color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 20px;
  h5,
  p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #card {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  #card {
    width: 100%;
  }
}
